body {
  background-color: rgb(248, 248, 248);
}
.presentation .card {
  margin-top: 2%;
}
.presentation h1 {
  margin-top: 2%;
}
.presentation P {
  margin-top: 40px;
}

.card-image {
  border: 3px solid orange;
}
.download {
  background-color: orange;
  border: none;
  border: 1px solid black;
  margin-top: 2%;
}

.skills {
  margin-top: 3%;
}

.skills .card {
  margin-top: 3%;
}

.skills img {
  width: 100px;
  height: 80px;
}

.network {
    margin-top: 0px;
}
.network p i {
    font-size: 30px;
    color: orange;
}
.network p a{
    text-decoration: none;
    color:black;
    cursor: pointer;
    margin-left: 10px;
}

@media (min-width: 0px) and (max-width: 780px) {
  .presentation img {
    margin-left: 16%;
  }
  .presentation h1 {
    margin-top: 0%;
  }
  .presentation P {
    margin-top: 5px;
  }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }